@charset "UTF-8";
@font-face {
  font-family: 'Gotham Pro';
  src: url("fonts/9781.otf") format("otf"); }

/* подвал */
.back_triangles {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 250px;
  background-color: #007cc5;
  background: -webkit-linear-gradient(315deg, transparent 200px, #007cc5 0);
  background: -o-linear-gradient(315deg, transparent 200px, #007cc5 0);
  background: linear-gradient(135deg, transparent 200px, #007cc5 0); }
  @media screen and (max-width: 1230px) {
    .back_triangles {
      width: 90%; } }
  @media screen and (max-width: 870px) {
    .back_triangles {
      width: 99%; } }
  @media screen and (max-width: 590px) {
    .back_triangles {
      width: 100vw; } }
  @media screen and (max-width: 563px) {
    .back_triangles {
      background: none; } }

.footer_main {
  position: absolute;
  top: 100px;
  left: 25%; }
  @media screen and (max-width: 1230px) {
    .footer_main {
      left: 4%; } }
  @media screen and (max-width: 563px) {
    .footer_main {
      left: 0; } }

.footer_menu {
  padding: 20px;
  position: absolute;
  z-index: 1; }
  @media screen and (max-width: 563px) {
    .footer_menu {
      margin-top: 15px;
      margin-left: 5%; } }
  @media screen and (max-width: 420px) {
    .footer_menu {
      margin-left: 3%; } }

.footer_menu li {
  list-style: none;
  height: 2em;
  font-size: 0.9em; }
  @media screen and (max-width: 420px) {
    .footer_menu li {
      font-size: 0.78em;
      height: 2.1em; } }

.footer_menu li a {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none; }

.footer_menu li a:hover {
  text-decoration: underline; }

.footer_contacts {
  margin-left: 220px;
  float: left;
  width: 350px; }
  @media screen and (max-width: 915px) {
    .footer_contacts {
      width: 290px;
      margin-left: 30%; } }
  @media screen and (max-width: 870px) {
    .footer_contacts {
      width: 290px; } }
  @media screen and (max-width: 710px) {
    .footer_contacts {
      width: 220px;
      margin-left: 35%; } }
  @media screen and (max-width: 563px) {
    .footer_contacts {
      float: none;
      margin-left: 11%;
      position: absolute;
      top: 165px; } }
  @media screen and (max-width: 420px) {
    .footer_contacts {
      margin-left: 10%; } }

.footer_contacts, .footer_contacts a {
  color: #fff;
  text-decoration: none;
  line-height: 1.6em;
  font-size: 0.95em; }
  @media screen and (max-width: 870px) {
    .footer_contacts, .footer_contacts a {
      font-size: 12px; } }
  @media screen and (max-width: 650px) {
    .footer_contacts, .footer_contacts a {
      font-size: 11px; } }

@media screen and (max-width: 563px) {
  .logo_footer {
    width: 94vw;
    text-align: center; } }

.insta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .insta__img {
    width: 27px;
    height: 27px;
    background: url("..//images/insta.png") center no-repeat;
    margin-right: 10px; }
  @media screen and (max-width: 563px) {
    .insta {
      margin-top: -130px;
      width: 30vw; } }
  @media screen and (max-width: 420px) {
    .insta {
      width: 40vw;
      margin-top: -130px; } }

.footer_contacts a:hover {
  text-decoration: underline; }

.footer_find {
  height: 40px;
  padding: 20px;
  margin-left: 300px;
  line-height: 40px; }
  @media screen and (max-width: 563px) {
    .footer_find {
      margin-left: 13px;
      height: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: -200px; } }
  @media screen and (max-width: 420px) {
    .footer_find {
      margin-left: 2px; } }

.footer_find input[type="text"] {
  width: 25vw;
  height: 38px;
  margin-right: 20px;
  border-radius: 10px;
  font-size: 1.2em;
  padding: 0 5px;
  color: #929292; }
  @media screen and (max-width: 1366px) {
    .footer_find input[type="text"] {
      font-size: 1em; } }
  @media screen and (max-width: 870px) {
    .footer_find input[type="text"] {
      height: 26px;
      border-radius: 6px; } }
  @media screen and (max-width: 750px) {
    .footer_find input[type="text"] {
      margin-right: 0px; } }
  @media screen and (max-width: 563px) {
    .footer_find input[type="text"] {
      width: 83vw;
      height: 27px; } }
  @media screen and (max-width: 420px) {
    .footer_find input[type="text"] {
      margin-right: 0;
      font-size: 14px;
      width: 82vw; } }

.footer_find .btn {
  background: url("..//images/find.png") no-repeat;
  width: 43px;
  height: 40px;
  cursor: pointer;
  text-indent: -9999px; }
  @media screen and (max-width: 870px) {
    .footer_find .btn {
      background: url("..//images/find_320.png") center center no-repeat; } }
  @media screen and (max-width: 563px) {
    .footer_find .btn {
      width: 32px;
      height: 22px;
      margin-left: -38px; } }

.footer_find .btn:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }
  @media screen and (max-width: 563px) {
    .footer_find .btn:hover {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none; } }

@media screen and (max-width: 563px) {
  .footer_icon_menu {
    position: absolute;
    top: -40px; } }

.footer_icon_menu ul li {
  list-style: none;
  height: 50px; }
  @media screen and (max-width: 563px) {
    .footer_icon_menu ul li {
      width: 85vw;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; } }
  @media screen and (max-width: 650px) {
    .footer_icon_menu ul li {
      height: 40px; } }
  @media screen and (max-width: 420px) {
    .footer_icon_menu ul li {
      height: 45px; } }

.footer_icon_menu a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  height: 40px;
  width: 100px; }
  @media screen and (max-width: 870px) {
    .footer_icon_menu a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.footer_icon_menu a:hover {
  text-decoration: underline; }

a.c {
  margin-left: 20px;
  padding-left: 50px;
  background: url("..//images/c.png") no-repeat left; }
  @media screen and (max-width: 870px) {
    a.c {
      font-size: 12px;
      padding-left: 60px; } }
  @media screen and (max-width: 650px) {
    a.c {
      background: url("..//images/c_320.png") no-repeat left;
      padding-left: 40px;
      font-size: 11px; } }

a.q {
  margin-left: 20px;
  padding-left: 50px;
  background: url("..//images/q.png") no-repeat left; }
  @media screen and (max-width: 870px) {
    a.q {
      font-size: 12px;
      padding-left: 60px; } }
  @media screen and (max-width: 650px) {
    a.q {
      background: url("..//images/q_320.png") no-repeat left;
      padding-left: 40px;
      font-size: 11px; } }
