@charset "UTF-8";
@font-face {
  font-family: 'Gotham Pro';
  src: url("fonts/9781.otf") format("otf"); }

/* верхнее меню */
.menu_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 120px;
  height: 90px;
  background-color: #262932;
  text-transform: uppercase;
  font-family: "Gotham Pro", sans-serif;
  font-size: 1.3em;
  line-height: 90px; }
  .menu_wrapper.active .top_menu {
    display: block; }
  @media screen and (max-width: 1230px) {
    .menu_wrapper {
      padding-right: 60px; } }
  @media screen and (max-width: 870px) {
    .menu_wrapper {
      padding-right: 0px; } }
  @media screen and (max-width: 750px) {
    .menu_wrapper {
      -ms-flex-pack: distribute;
      justify-content: space-around; } }
  @media screen and (max-width: 563px) {
    .menu_wrapper {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      line-height: 55px; } }

.menu_wrapper a {
  color: whitesmoke;
  text-decoration: none;
  padding: 5px 20px; }
  @media screen and (max-width: 563px) {
    .menu_wrapper a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 0 20px; } }

@media screen and (max-width: 563px) {
  .top_menu {
    position: absolute;
    display: none;
    width: 100%; } }

.top_menu > li {
  float: left;
  list-style: none;
  margin-left: 120px;
  position: relative;
  z-index: 1; }
  @media screen and (max-width: 1822px) {
    .top_menu > li {
      margin-left: 5vw; } }
  @media screen and (max-width: 1681px) {
    .top_menu > li {
      margin-left: 4vw; } }
  @media screen and (max-width: 1600px) {
    .top_menu > li {
      margin-left: 40px;
      font-size: 18px; } }
  @media screen and (max-width: 1230px) {
    .top_menu > li {
      margin-left: 10px;
      font-size: 16px; } }
  @media screen and (max-width: 870px) {
    .top_menu > li {
      font-size: 14px;
      margin-left: 0; } }
  @media screen and (max-width: 563px) {
    .top_menu > li {
      float: none;
      font-weight: bold;
      text-align: center; } }

.top_menu__item.active {
  background: #1a1c21; }
  .top_menu__item.active .top_menu__link {
    color: #007cc5; }
  .top_menu__item.active .inside_menu {
    display: block; }
  @media screen and (max-width: 563px) {
    .top_menu__item.active .top_menu > li:hover .inside_menu {
      display: block; } }

.top_menu__item:hover {
  background: #1a1c21; }
  @media screen and (max-width: 563px) {
    .top_menu__item:hover {
      cursor: pointer; } }

@media screen and (min-width: 564px) {
  .top_menu__item:hover .inside_menu {
    display: block; } }

.top_menu__link:hover {
  color: #007cc5; }

.top_menu__link.active {
  color: #007cc5; }

.inside_menu__wrap {
  list-style: none; }
  @media screen and (max-width: 563px) {
    .inside_menu__wrap {
      overflow: hidden;
      height: 0; } }

.inside_menu {
  width: 160%;
  position: absolute;
  display: none;
  z-index: 1;
  background-color: #1a1c21;
  text-align: left;
  font-size: 17px; }
  @media screen and (max-width: 1600px) {
    .inside_menu {
      font-size: 15px; } }
  @media screen and (max-width: 1366px) {
    .inside_menu {
      font-size: 14px;
      width: 148%; } }
  @media screen and (max-width: 1230px) {
    .inside_menu {
      width: 152%; } }
  @media screen and (max-width: 870px) {
    .inside_menu {
      font-size: 10.5px;
      width: 126%; } }
  @media screen and (max-width: 563px) {
    .inside_menu {
      font-size: 12px;
      width: 100%;
      background-color: #1e2127; } }

.top_menu li > div > ul > li {
  list-style: none;
  line-height: 40px; }
  @media screen and (max-width: 870px) {
    .top_menu li > div > ul > li {
      line-height: 30px; } }
  @media screen and (max-width: 563px) {
    .top_menu li > div > ul > li {
      line-height: 25px;
      text-align: center; } }

.top_menu li > div > ul > li:hover {
  background: #262932; }

.top_menu li > div > ul > li:hover a {
  color: #00b5bb; }

.top_menu li > div > ul > li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 22px; }
  @media screen and (max-width: 1366px) {
    .top_menu li > div > ul > li a {
      padding: 0 18px; } }
  @media screen and (max-width: 1230px) {
    .top_menu li > div > ul > li a {
      padding: 0 13px; } }
  @media screen and (max-width: 870px) {
    .top_menu li > div > ul > li a {
      padding: 0 10px; } }
  @media screen and (max-width: 563px) {
    .top_menu li > div > ul > li a {
      width: 95%;
      margin: 0 auto; } }

.mobile-menu {
  display: none; }
  @media screen and (max-width: 563px) {
    .mobile-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      right: 15vw;
      top: 158px;
      width: 18px;
      height: 18px;
      background: url("..//images/mobile button.png") center center no-repeat;
      background-color: #1b1e26;
      padding: 6px;
      border-radius: 5px; } }
  @media screen and (max-width: 563px) and (max-width: 420px) {
    .mobile-menu {
      right: 3vw; } }
  @media screen and (max-width: 563px) {
      .mobile-menu:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        cursor: pointer; } }
  .mobile-menu a {
    padding: 0; }
