 //import
@import "form";
@import "config";
@import "header";
@import "menu";
@import "footer";

.contacts {
    display: flex;
    flex-direction: column;
    width: 230px;
    margin: 0 auto;
    padding: 80px 0 35px 0;
    z-index: 1;
    position: relative;
    &__title {
        color: #0a68a2;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
    }
    h3 {
        margin-top: 40px;
        font-size: 12px;
        font-weight: normal;
        text-transform: uppercase;
        text-align: center;
    }
    &__adress {
        font-size: 12px;
        margin-top: 15px;
        font-weight: bold;
        text-align: center;
    }
    &__transport {
        margin-top: 15px;
        font-size: 14px;
    }
    &__schedule {
        margin-top: 20px;
        font-weight: bold;
        font-size: 13px;
    }
    &__time {
        margin-top: 10px;
        font-size: 18px;
        font-weight: bold;
    }
}
.middle_triangle {
    position: absolute; 
    left: 0;
    width:713px;  
    height: 419px; 
    background-color: #a6ce39; 
    background:linear-gradient(-135deg, transparent 296px, #a6ce39 0);
}
.triangles_right {
    position: absolute;
    top: 0;
    right: 0;
}
.right_darkblue {
    position: absolute;
    top: 215px;
    right: 0;
    width: 420px;  
    height: 505px; 
    background-color: #005382; 
    background:linear-gradient(135deg, transparent 357px, #005382 0);
}
.right_lightblue {
    position: absolute;
    top: 215px;
    right: 0;
    background-color: #00b6bc; 
    background:linear-gradient(135deg, transparent 357px, #00b6bc 0);
}
.lightblue_1 { 
    width: 421px;
    height: 497px;
    top: 301px;
    right: 0;
    position: absolute;
    background:linear-gradient(-45deg, transparent 341px, #00b6bc 0); 
}
.lightblue_2 { 
    width: 521px;
    height: 497px;
    top: 301px;
    position: absolute;
    right: 321px;
    background:linear-gradient(45deg, transparent 352px, #00b6bc 0); 
}