//import
@import "form";
@import "config";
@import "header";
@import "menu";
@import "footer";

.cookies {
    margin: 50px auto;
    font-size: 13px;
    text-transform: uppercase;
    width: 100%;
    a {
        margin-right: 10px;
        text-decoration: none;
        color: black;
        &:hover {
            text-decoration: underline;
        }
    }
    a:last-child {
        color: #ec1551;
    }
}
.deduction {
    width: 737px;
    margin: 0 auto;
    &__title {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: normal;
        margin-bottom: 40px;
        text-align: center;
    }
    &__client {
        font-size: 21px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 40px;
    }
    &__desc {
        font-size: 17px;
    }
    &__reason {
        font-size: 21px;
        font-weight: bold;
        margin-top: 50px;
    }
    &__list {
        font-size: 17px;
        line-height: 1.5;
        margin: 30px 0 50px 40px;
    }
    &__doc {
        display: flex;
        align-items: center;
        margin-bottom: 70px;
        margin-top: 50px;
        justify-content: center;
    }
    &__name{
        margin-left: 15px;
        font-size: 12px;
    }
    &__link {
        display: flex;
        align-items: center;
        margin-top: 5px;
        a {
            margin-left: 8px;
            color: #ec1551;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
