//import
@import "form";
@import "config";
@import "header";
@import "menu";
@import "footer";

.cookies {
    margin: 50px auto;
    font-size: 13px;
    text-transform: uppercase;
    width: 100%;
    z-index: 1;
    a {
        margin-right: 10px;
        text-decoration: none;
        color: black;
        &:hover {
            text-decoration: underline;
        }
    }
    a:last-child {
        color: #ec1551;
    }
}
.documents {
    width: 737px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    &__title {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: normal;
        margin-bottom: 40px;
        text-align: center;
    }
    &__centre {
        width: 450px;
        margin: 0 auto 200px auto;
        z-index: 1;
    }
    &__doc {
        display: flex;
        align-items: center;
        margin-top: 50px;
    }
    &__desc {
        margin-left: 15px;
        font-size: 12px;
    }
    &__img {
        width: 14px;
        height: 16px;
        background: url('..//images/down.png') no-repeat;
    }
    &__link {
        display: flex;
        align-items: center;
        margin-top: 5px;
        a {
            margin-left: 8px;
            color: #a6a6a6;
            text-decoration: none;
        }
        &:hover {
            .documents__img {
                background-position: 0 -16px;
            }
            a {
                color: #ec1551;
                text-decoration: underline;
            }
        }
    }
}
.middle_triangle {
    position: absolute; 
    left: 0;
    width: 669px;  
    height: 659px; 
    background-color: #a6ce39; 
    background:linear-gradient(-45deg, transparent 484px, #a6ce39 0);
}
.bottom_darkblue {
    position: absolute;
    right: 0;
    background-color: #005382; 
    background:linear-gradient(135deg, transparent 357px, #005382 0);
}
.darkblue_1 {
    width: 209px;
    height: 209px;
    bottom: 299px;
    right: 0;
    position: absolute;
    background:linear-gradient(135deg, transparent 150px, #005382 0); 
}
.darkblue_2 {
    width: 209px;
    height: 209px;
    right: 0;
    bottom: 90px;
    position: absolute;
    background:linear-gradient(45deg, transparent 150px, #005382 0); 
}
.bottom_lightblue {
    position: absolute;
    right: 0;
    background-color: #007cc5; 
    background:linear-gradient(135deg, transparent 357px, #007cc5 0);
    z-index: 1;
}
.lightblue_1 {
    width: 205px;
    height: 619px;
    bottom: -101px;
    right: 0;
    position: absolute;
    background:linear-gradient(-135deg, transparent 300px, #007cc5 0); 
}
.lightblue_2 {
    width: 411px;
    height: 598px;
    bottom: -111px;
    right: 205px;
    position: absolute;
    background:linear-gradient(135deg, transparent 423px, #007cc5 0); 
}
