//import
@import "form";
@import "config";
@import "header";
@import "menu";
@import "footer";

.specialists {
    &__options {
        background-color: #007cc5;
        padding: 30px;
    }
    &__title {
        text-align: center;
        color: white;
        font-size: 17px;
        font-weight: normal;
        text-transform: uppercase;
    }
    &__wrap {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        ul {
            list-style: none;
            margin-right: 50px;
            line-height: 1.5;
            &:last-child {
                margin-right: 0;
            }
            a {
                font-size: 14px;
                color: white;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
                &.active {
                    color: #45fff8;
                }
            }
        }
    }
}
.gynecology {
    width: 1024px;
    margin: 50px auto 150px auto;
    position: relative;
    z-index: 2;
    &__title {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: normal;
        text-align: center;
    }
    &__specialists {
        display: flex;
        padding: 0 88px;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
.doctor {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 181px;
    &__name {
        font-size: 15px;
        font-weight: bold;
        margin-top: 35px;
        text-align: center;
        color: black;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    &__desc {
        font-size: 12px;
        margin-top: 15px;
        text-align: center;
    }
}
.button_prew {
    background: url("..//images/prew.png") no-repeat;
    width: 69px;
    height: 69px;
    position: absolute;
    margin-top: 24%;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}
.button_next {
    background: url("..//images/next.png") no-repeat;
    width: 69px;
    height: 69px;
    position: absolute;
    right: 0%;
    margin-top: -46%;
    z-index: 2;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

.triangles_left {
    position: absolute; 
    top: 521px; 
    left: 0; 
}
.left_top {
    overflow: hidden; 
    position: relative;	
    width: 568px; 
    height: 158px; 
    background: linear-gradient(-45deg, transparent 290px, #8490c7 0);
}
.triangle_red_1, .triangle_red_2 {
    width: 225px; 
    height: 225px;	
    background-color: #a053a0;
}
.triangle_red_1 {	
    position: absolute; 
    bottom:0; 
    left:0; 
    top: 0;
    background: linear-gradient(-135deg, transparent 160px, #a053a0 0);
}
.triangle_red_2 {
    background:linear-gradient(-45deg, transparent 207px, #a053a0 0);
}

.bottom_darkblue {
    position: absolute;
    right: 0;
    background-color: #005382; 
    background:linear-gradient(135deg, transparent 357px, #005382 0);
}
.darkblue_1 {
    width: 209px;
    height: 209px;
    bottom: 299px;
    right: 0;
    position: absolute;
    background:linear-gradient(135deg, transparent 150px, #005382 0); 
}
.darkblue_2 {
    width: 209px;
    height: 209px;
    right: 0;
    bottom: 90px;
    position: absolute;
    background:linear-gradient(45deg, transparent 150px, #005382 0); 
}
.bottom_lightblue {
    position: absolute;
    right: 0;
    background-color: #007cc5; 
    background:linear-gradient(135deg, transparent 357px, #007cc5 0);
    z-index: 1;
}
.lightblue_1 {
    width: 205px;
    height: 619px;
    bottom: -101px;
    right: 0;
    position: absolute;
    background:linear-gradient(-135deg, transparent 300px, #007cc5 0); 
}
.lightblue_2 {
    width: 411px;
    height: 598px;
    bottom: -111px;
    right: 205px;
    position: absolute;
    background:linear-gradient(135deg, transparent 423px, #007cc5 0); 
}