@import "config";

/* верхнее меню */
.menu_wrapper {
    display: flex;
    justify-content: flex-end;
    padding-right: 120px;
    height: 90px; 
    background-color: #262932; 
    text-transform: uppercase; 
    font-family: "Gotham Pro", sans-serif; 
    font-size: 1.3em; 
    line-height: 90px; 
    &.active {
        .top_menu {
            display: block;
        }       
    }
    @include tablets {
        padding-right: 60px;
    }
    @include min-tablets {
        padding-right: 0px;
    }
    @media screen and (max-width: 750px) {
        justify-content: space-around;
    }
    @include phones {
        justify-content: flex-end;
        flex-direction: column;
        line-height: 55px;
    }
}
.menu_wrapper a {
    color: whitesmoke; 
    text-decoration: none; 
    padding: 5px 20px;
    @include phones {
        display: flex;
        justify-content: center;
        padding: 0 20px;
    }
}
.top_menu {
    @include phones {
        position: absolute;
        display: none;
        width: 100%;
    }
}
.top_menu > li { 
    float: left; 
    list-style: none;
    margin-left: 120px;
    position: relative;
    z-index: 2;
    @media screen and (max-width: 1822px) {
        margin-left: 5vw;
    }
    @media screen and (max-width: 1681px) {
        margin-left: 4vw;
    }
    @media screen and (max-width: 1600px) {
        margin-left: 40px;
        font-size: 18px;
    }
    @include tablets {
        margin-left: 10px;
        font-size: 16px;
    }
    @include min-tablets {
        font-size: 14px;
        margin-left: 0;
    }
    @include phones {
        float: none;
        font-weight: bold;
        text-align: center;
    }
}
.top_menu__item {
    &.active {
        background: #1a1c21;
        .top_menu__link {
            color: #007cc5;
        }
        .inside_menu {
            display: block;
        }
        .top_menu > li:hover .inside_menu {
            @include phones {
                display: block;
            }
        }
    }
}

.top_menu__item:hover {
    background: #1a1c21;
    @include phones {
        cursor: pointer;
    }
}

@media screen and (min-width: 564px) {
    .top_menu__item:hover .inside_menu {
        display: block;
    }
}

.top_menu__link:hover {
    color: #007cc5;  
}
.top_menu__link {
    &.active {
        color: #007cc5;
    }
}

.inside_menu__wrap {
    list-style: none;
    @include phones {
        overflow: hidden;
        height: 0;
    }
}
.inside_menu {
    width: 160%;
    position: absolute;
    display: none;
    z-index: 1; 
    background-color: #1a1c21; 
    text-align: left; 
    font-size: 17px;
    @media screen and (max-width: 1600px) {
        font-size: 15px;
    }
    @include laptop {
        font-size: 14px;
        width: 148%;
    }
    @include tablets {
        width: 152%;
    }
    @include min-tablets {
        font-size: 10.5px;
        width: 126%;
    }
    @include phones {
        font-size: 12px;
        width: 100%;
        background-color: lighten(#1a1c21, 2);
    }
} 
.top_menu li > div > ul > li {
    list-style: none; 
    line-height: 40px;
    @include min-tablets {
        line-height: 30px;
    }
    @include phones {
        line-height: 25px;
        text-align: center;
    }
}
.top_menu li > div > ul > li:hover {
    background: #262932;
}
.top_menu li > div > ul > li:hover a {
    color: #00b5bb;
}
.top_menu li > div > ul > li a {
    display: block; 
    width: 100%; 
    height: 100%; 
    padding: 0 22px;
    @include laptop {
        padding: 0 18px;
    }
    @include tablets {
        padding: 0 13px;
    }
    @include min-tablets {
        padding: 0 10px;
    }
    @include phones {
        width: 95%;
        margin: 0 auto;
    }
}
.mobile-menu {
    display: none;
    @include phones {
        display: flex;
        position: absolute;
        right: 15vw;
        top: 158px;
        width: 18px;
        height: 18px;
        background: url("..//images/mobile button.png") center center no-repeat;
        background-color: #1b1e26;
        padding: 6px;
        border-radius: 5px;
        @include min-phones {
            right: 3vw;
        }
        &:hover {
            transform:scale(1.1); 
            cursor: pointer;
        }
    }
    a {
        padding: 0;
    }
}