 //import
@import "form";
@import "config";
@import "header";
@import "menu";
@import "footer";

.mission {
    width: 730px;
    margin: 0 auto;
    z-index: 1;
    position: relative;
    &__title {
        text-transform: uppercase;
        font-size: 21px;
        text-align: center;
        color: #ec1551;
        font-weight: normal;
    }
    &__slogan {
        font-weight: bold;
    }
    p, ul {
        margin-top: 22px;
        font-size: 17px;
    }
    ul {
        list-style: none;
        margin-left: 60px;
    }
    &__documents {
        margin: 100px auto 70px auto;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    &__agree, &__position {
        text-align: center;
        font-size: 15px;
        padding-left: 90px;
        a {
            color: black;
            text-decoration: none;
            text-align: left;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.cookies {
    margin: 50px auto;
    font-size: 13px;
    text-transform: uppercase;
    a {
        margin-right: 10px;
        text-decoration: none;
        color: black;
        &:hover {
            text-decoration: underline;
        }
    }
    a:last-child {
        color: #ec1551;
    }
}
//треугольники слева
.triangles_left {
    position: absolute; 
    top: 301px; 
    left: 0; 
}
.left_top {
    overflow: hidden; 
    position: relative;	
    width: 624px; 
    height: 404px; 
    background: url('..//images/eye.png') no-repeat;
}
.triangle_red_1, .triangle_red_2 {
    width: 227px; 
    height: 215px;	
    background-color: #ee4122;
}
.triangle_red_1 {	
    position: absolute; 
    bottom:0; 
    left:0; 
    background: linear-gradient(-135deg, transparent 161px, #ee4122 0);
}
.triangle_red_2 {
    background:linear-gradient(-45deg, transparent 161px, #ee4122 0);
}
.left_middle {
    width: 663px;
    height: 448px;
    background-color: #f5821f;
}
.left_middle {
    background:linear-gradient(-135deg, transparent 317px, #f5821f 0);
}

//треугольники справа
.triangles_right {
    position: absolute; 
    top: 301px; 
    right: 0; 
}
.right_top { 
    width: 600px; 
    height: 504px; 
    background-color: #00b6bc; 
    background:linear-gradient(45deg, transparent 384px, #00b6bc 0); 
}
.triangle_blue_1, .triangle_blue_2 {
    width: 149px; 
    height: 196px;	
    background-color: #005382; 
    position: absolute; 
    right: 0;
}
.triangle_blue_1 { 
    background:linear-gradient(135deg, transparent 140px, #005382 0); 
    top: 218px;
}
.triangle_blue_2 {
    background:linear-gradient(45deg, transparent 140px, #005382 0); 
    top: 0;
}
.right_middle {
    width: 691px;
    height: 538px;
    background-color: #007cc5; 
    position: absolute; 
    top: 414px; 
    right: 0;
}
.right_middle {
    background:linear-gradient(135deg, transparent 384px, #007cc5 0);
}