//import
@import "form";
@import "config";
@import "header";
@import "menu";
@import "footer";

.questions {
    width: 730px;
    margin: 0 auto;
    &__prew {
        width: 220px;
        margin: 80px auto 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-size: 20px;
        font-weight: normal;
        text-transform: uppercase;
        text-align: center;
    }
    &__info {
        font-size: 12px;
        margin-top: 20px;
    }
    &__publish {
        background: black;
        padding: 10px;
        margin-top: 15px;
        margin-bottom: 50px;
        border: none;
        border-radius: 3px;
        color: white;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        width: 156px;
        &:hover {
            cursor: pointer;
            box-shadow: 0 0 10px rgba(0,0,0,0.5)
        }
    }
}
.cookies {
    margin: 50px auto;
    font-size: 13px;
    text-transform: uppercase;
    z-index: 1;
    position: relative;
    a {
        margin-right: 10px;
        text-decoration: none;
        color: black;
        &:hover {
            text-decoration: underline;
        }
    }
    a:last-child {
        color: #ec1551;
    }
}
.question {
    width: 790px;
    margin: 50px auto 50px auto;
    z-index: 1;
    position: relative;
    &__name {
        font-size: 12px;
    }
    &__text {
        font-size: 14px;
    }
    &__answer {
        padding: 30px;
        border: 1px solid #a1a2a2;
        margin-top: 20px;
        border-radius: 8px;
        font-size: 16px;
        &:before, &:after {
            content: ''; 
            position: relative;
            left: 24px; 
            bottom: 61px;
            border: 13px solid transparent;
            border-bottom: 13px solid #a1a2a2;
        }
        &:after {
            position: relative;
            border-bottom: 13px solid white;
            bottom: 132px; 
            left: -364px;
        }
    }
}
.pagination {
    text-align: center;
    margin-bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__number {
        padding: 0 10px;
        font-size: 17px;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
    &__next {
        background: url("..//images/arrow_page.png") no-repeat;
        width: 12px;
        height: 14px;
        margin-right: 10px;
        &:hover {
            background-position: 0 -14px;
            cursor: pointer;
        }
    }
    &__last {
        background: url("..//images/arrows_page.png") no-repeat;
        width: 21px;
        height: 14px;
        &:hover {
            background-position: 0 -14px;
            cursor: pointer;
        }
    }
}
.middle_triangle {
    position: absolute; 
    left: 0;
    width: 610px;  
    height: 674px; 
    background-color: #00b15a; 
    background:linear-gradient(-45deg, transparent 484px, #00b15a 0);
}
.bottom_darkgreen {
    position: absolute;
    right: 0;
    background-color: #00915b; 
    background:linear-gradient(135deg, transparent 357px, #00915b 0);
}
.darkgreen_1 {
    width: 324px;
    height: 328px;
    bottom: 116px;
    right: 0;
    position: absolute;
    background:linear-gradient(135deg, transparent 300px, #00915b 0); 
}
.darkgreen_2 {
    width: 324px;
    height: 328px;
    right: 0;
    top: -117px;
    position: absolute;
    background:linear-gradient(45deg, transparent 300px, #00915b 0); 
}
.bottom_lightgreen {
    position: absolute;
    right: 0;
    background-color: #a6ce39; 
    background:linear-gradient(135deg, transparent 357px, #a6ce39 0);
}
.lightgreen_1 {
    width: 227px;
    height: 425px;
    bottom: -111px;
    right: 0;
    position: absolute;
    background:linear-gradient(-135deg, transparent 300px, #a6ce39 0); 
}
.lightgreen_2 {
    width: 227px;
    height: 425px;
    bottom: -111px;
    right: 227px;
    position: absolute;
    background:linear-gradient(135deg, transparent 300px, #a6ce39 0); 
}