//import
@import "form";
@import "config";
@import "header";
@import "menu";
@import "footer";

.cookies {
    margin: 50px auto;
    font-size: 13px;
    text-transform: uppercase;
    width: 100%;
    z-index: 1;
    padding-left: 90px;
    a {
        margin-right: 10px;
        text-decoration: none;
        color: black;
        &:hover {
            text-decoration: underline;
        }
    }
    a:last-child {
        color: #ec1551;
    }
}
.services {
    width: 1026px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: relative;
    &__title {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: normal;
    }
}
.price {
    background-color: #00b6bc;
    padding: 9px 35px;
    font-size: 13px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    &:hover {
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
    a {
        color: white;
        text-decoration: none;
    }   
}
.services_main {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 220px;
    margin-top: 35px;
    @include laptop {
        width: 80%;
    }
    @include tablets {
        width: 98%;
    }
    @include min-tablets {
        width: 100%;
        justify-content: center;
    }
}
.serivice_main_item {
    text-align:center; 
    width: 21%;  
    margin: 2% 2% 7% 2%; 
    // @include tablets {
    //     width: 21%; 
    // }
    // @include tablets {
    //     width: 29%; 
    //     height: 230px;
    // }
    // @include phones {
    //     height: 150px;
    // }
    // @include min-phones {
    //     width: 43%;
    //     height: 150px;
    // }
}
.serivice_main_item img {
    border-radius: 100px;
    margin-bottom: 25px; 
    border: 2px solid #007cc5;
}
.serivice_main_item:hover .serivice_main_item_name {
    color: #007cc5;
}
.serivice_main_item a {
    color: #000; 
    text-decoration: none; 
    width: 100%; 
}
.serivice_main_item_name {
    font-weight: bold; 
    font-size: 17px; 
    margin-bottom: 10px;
    @include min-tablets {
        font-size: 16px;
    }
    @include phones {
        font-size: 14px;
        font-weight: normal;
    }
}
.serivice_main_item_desc {
    font-size: 13px;
    @include min-tablets {
        font-size: 13px;
    }
    @include phones {
        display: none;
    }
}
.triangles_left {
    position: absolute; 
    top: 301px; 
    left: 0; 
}
.left_top {
    overflow: hidden; 
    position: relative;	
    width: 540px; 
    height: 321px; 
    background: linear-gradient(-45deg, transparent 338px, #ffca05 0);
}
.triangle_red_1, .triangle_red_2 {
    width: 131px; 
    height: 157px;	
    background-color: #ee4122;
}
.triangle_red_1 {	
    position: absolute; 
    bottom:0; 
    left:0; 
    background: linear-gradient(-135deg, transparent 160px, #ee4122 0);
}
.triangle_red_2 {
    background:linear-gradient(-45deg, transparent 160px, #ee4122 0);
}
.bottom_darkblue {
    position: absolute;
    right: 0;
    background-color: #005382; 
    background:linear-gradient(135deg, transparent 357px, #005382 0);
}
.darkblue_1 {
    width: 209px;
    height: 209px;
    bottom: 299px;
    right: 0;
    position: absolute;
    background:linear-gradient(135deg, transparent 150px, #005382 0); 
}
.darkblue_2 {
    width: 209px;
    height: 209px;
    right: 0;
    bottom: 90px;
    position: absolute;
    background:linear-gradient(45deg, transparent 150px, #005382 0); 
}
.bottom_lightblue {
    position: absolute;
    right: 0;
    background-color: #007cc5; 
    background:linear-gradient(135deg, transparent 357px, #007cc5 0);
    z-index: 1;
}
.lightblue_1 {
    width: 205px;
    height: 619px;
    bottom: -101px;
    right: 0;
    position: absolute;
    background:linear-gradient(-135deg, transparent 300px, #007cc5 0); 
}
.lightblue_2 {
    width: 411px;
    height: 598px;
    bottom: -111px;
    right: 205px;
    position: absolute;
    background:linear-gradient(135deg, transparent 423px, #007cc5 0); 
}