//import
@import "form";
@import "config";
@import "header";
@import "menu";
@import "footer";

.specialists {
    &__options {
        background-color: #007cc5;
        padding: 30px;
    }
    &__title {
        text-align: center;
        color: white;
        font-size: 17px;
        font-weight: normal;
        text-transform: uppercase;
    }
    &__wrap {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        ul {
            list-style: none;
            margin-right: 50px;
            line-height: 1.5;
            &:last-child {
                margin-right: 0;
            }
            a {
                font-size: 14px;
                color: white;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    &__background {
        background: url("..//images/specialists_back.png") center center no-repeat;
        width: 100%;
        height: 777px;
    }
}
//треугольники слева
.triangles_left {
    position: absolute; 
    top: 521px; 
    left: 0; 
}
.left_top {
    overflow: hidden; 
    position: relative;	
    width: 666px; 
    height: 190px; 
    background: linear-gradient(-45deg, transparent 227px, #ec1551 0);

}
.triangle_red_1, .triangle_red_2 {
    width: 388px; 
    height: 354px;	
    background-color: #a053a0;
}
.triangle_red_1 {	
    position: absolute; 
    bottom:0; 
    left:0; 
    background: linear-gradient(-135deg, transparent 281px, #a053a0 0);
}
.triangle_red_2 {
    background:linear-gradient(-45deg, transparent 281px, #a053a0 0);
}
.left_middle {
    width: 936px;
    height: 587px;
    background-color: #8490c7;
}
.left_middle {
    background:linear-gradient(-135deg, transparent 418px, #8490c7 0);
}
//треугольники справа
.triangles_right {
    position: absolute; 
    top: 521px; 
    right: 0; 
}
.right_top { 
    width: 737px; 
    height: 592px; 
    background-color: #00b6bc; 
    background:linear-gradient(45deg, transparent 420px, #00b6bc 0); 
}
.triangle_blue_1, .triangle_blue_2 {
    width: 282px; 
    height: 347px;	
    background-color: #005382; 
    position: absolute; 
    right: 0;
}
.triangle_blue_1 { 
    background:linear-gradient(135deg, transparent 246px, #005382 0); 
    top: 108px;
}
.triangle_blue_2 {
    background:linear-gradient(45deg, transparent 246px, #005382 0); 
    top: 0;
}
.right_middle {
    width: 825px;
    height: 322px;
    background-color: #007cc5; 
    position: absolute; 
    top: 455px; 
    right: 0;
}
.right_middle {
    background:linear-gradient(135deg, transparent 384px, #007cc5 0);
}
.triangle_pic_1 {
    background: url("..//images/Layer 3.png");
    width: 173px;
    height: 189px;
    position: absolute;
    right: 0;
    margin-right: 350px;
}
.triangle_pic_2 {
    background: url("..//images/Layer 4.png");
    width: 112px;
    height: 391px;
    position: absolute;
    right: 0;
    margin-right: 230px;
}