//import
@import "form";
@import "config";
@import "header";
@import "menu";
@import "footer";

.triangle_left {
    position: absolute; 
    left: 0;
    width: 594px;  
    height: 589px; 
    background-color: #007cc5; 
    background:linear-gradient(-45deg, transparent 440px, #007cc5 0);
}
.triangle_right {
    position: absolute; 
    right: 0;
    top: 738px;
    width: 650px;  
    height: 650px; 
    background-color: #a6ce39; 
    background:linear-gradient(135deg, transparent 500px, #a6ce39 0);
}
.cookies {
    margin: 50px auto;
    font-size: 13px;
    padding-left: 50px;
    text-transform: uppercase;
    z-index: 1;
    position: relative;
    a {
        margin-right: 10px;
        text-decoration: none;
        color: black;
        &:hover {
            text-decoration: underline;
        }
    }
    a:last-child {
        color: #ec1551;
    }
}
.vacancy {
    width: 920px;
    margin: 0 auto;
    margin-bottom: 320px;
    z-index: 1;
    position: relative;
    &__title {
        font-size: 20px;
        text-transform: uppercase;
        color: #ec1551;
        font-weight: normal;
        text-align: center;
    }
    &__list {
        font-size: 15px;
        list-style: none;
        margin-top: 40px;
        padding-left: 50px;
    }
    &__mail {
        margin-top: 65px;
        font-size: 13px;
        padding-left: 50px;
        a {
            font-weight: bold;
            color: black;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__offer {
        margin-top: 48px;
        font-size: 18px;
        color: #007cc5;
        font-weight: normal;
        padding-left: 50px;
    }
    &__form {
        margin-top: 10px;
        font-size: 16px;
        background: #f8f8f8;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        padding: 40px;
        line-height: 2.5;
        display: flex;
        flex-wrap: wrap;
        input[type="text"], input[type="email"] {
            height: 30px;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
        }
    }
    &__left, &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__right {
        margin-left: 75px;
        input[type="file"] {
            position: absolute;
            opacity: 0;
            height: 20px;
            width: 100px;
        }
        .file-upload {
            position: relative;
            overflow: hidden;
            width: 110px;
            height: 30px;
            background: #a6ce39;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                background: lighten(#a6ce39, 5%);
            }
            span {
                color: black;
                font-size: 11px;
            }
        }
    }
    &__protect {
        display: flex;
        align-items: center;
        img {
            width: 150px;
            margin-left: 10px;
        }
        a {
            color: #ec1551;
            font-size: 14px;
            margin-left: 10px;
        }
    } 
    &__submit {
        color: white;
        background: #ec1551;
        border: none;
        padding: 8px 30px;
        margin: 30px auto 0 auto;
        border-radius: 5px;
        text-transform: uppercase;
        &:hover {
            cursor: pointer;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
        }
    }  
}
